body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* font-family: 'League Spartan', sans-serif; */