body {
    font-family: 'League Spartan', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

h1 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 0.8em;
    color: hsl(300, 43%, 22%);
}

.container-heading p {
    font-weight: 400;
    color: hsl(303, 10%, 53%);
}

.container-rating .container .card-rating {
    background-color: hsl(300, 24%, 96%);
}

.reviewer {
    font-weight: 700;
    font-size: 1.1em;
    color: hsl(300, 43%, 22%);
}

.container-review .card {
    background-color: hsl(300, 43%, 22%);
    width: 22rem;
    height: 17rem;
}

.container-review img {
    width: 3em;
    height: 3em;
}

.titles {
    line-height: 0.3em;
}

.card-title {
    font-weight: 700;
    font-size: 1em;
    color: hsl(300, 24%, 96%);
}

.card-subtitle {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.card-text {
    color: hsl(300, 24%, 96%);
    font-weight: 500;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(333, 80%, 67%);
}

.attribution a {
    color: hsl(300, 43%, 22%);
}