body {
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 0.8em;
    color: hsl(300, 43%, 22%);
}

.container-heading p {
    font-weight: 400;
    color: hsl(303, 10%, 53%);
}

.container-rating .container .card-rating {
    background-color: hsl(300, 24%, 96%);
}

.reviewer {
    font-weight: 700;
    font-size: 1.1em;
    color: hsl(300, 43%, 22%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}